/* Reset Default Styling */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Styles */

* {
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  color: #212121;
  font-family: sans-serif;
}

.container {
  padding: 0 12px;
}

.wrapper {
  max-width: 60%;
  margin: 0 auto;
}

.green {
  background-color: #a0c63f;
}

.text-green {
  color: #a0c63f;
}

header {
  width: 100%;
  height: 80px;
}

header>.wrapper>.pull {
  font-size: 9px;
  text-align: right;
  height: 12px;
}

.bookmark-icon {
  padding-left: 4px;
  padding-right: 4px;
  font-size: 16px;
  margin-top: -6px;
}

.bookmark-icon:hover {
  margin-top: -2px;
}

nav {
  float: right;
  margin: 28px 0;
}

nav>ul>li {
  float: left;
}

nav>ul>li a {
  display: block;
  margin-left: 37px;
  font-size: 9px;
  text-align: center;
  text-decoration: none;
}

nav>ul>li a:hover {
  color: #a0c63f;
  text-shadow: 0 1px 0px #212121;
}

a:visited,
a:link,
a:active {
  color: #212121;
}

.banner {
  height: 305px;
  position: relative;
}

.prev {
  position: absolute;
  color: #fcfcfc;
  top: 130px;
  left: 70px;
}

.next {
  position: absolute;
  color: #fcfcfc;
  top: 130px;
  right: 70px;
}

.next:hover,
.prev:hover {
  cursor: pointer;
  text-shadow: 1px 1px 2px #212121;
}

.banner-heading {
  width: 30%;
  position: absolute;
  top: 62px;
  right: 262px;
  color: #fcfcfc;
  font-size: 23px;
  line-height: 1.3;
  text-align: center;
}

.base {
  width: 100%;
  height: 76px;
}

.base>.heading {
  padding: 20px 10px;
  border-bottom: 2px dashed #f0f0f0;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
}

.flexbox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 14px 0 26px 0;
}

.flexbox>.speciality {
  width: 25%;
  text-align: center;
}

.flexbox>.speciality>.feature-icon {
  padding: 24px;
  background-color: #a0c63f;
  color: #f0f0f0;
  border: 16px solid #fcfcfc;
  border-radius: 50%;
  box-shadow: 0 0 1px #aaaaaa;
}

.subHeading {
  font-size: 24px;
  padding: 10px;
  line-height: 0.9;
}

.subHeading>small {
  font-size: 14px;
}

.heading-to-left>h3 {
  font-size: 18px;
  padding-left: 34px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.dash {
  color: #f0f0f0;
  letter-spacing: 2px;
  font-size: 24px;
}

.flexbox>.card {
  width: 48%;
  text-align: left;
  border: 1px solid #f0f0f0;
  margin: 1%;
}

.flexbox>.card>figure {
  float: left;
}

.card-text {
  margin: 8px 0 0 180px;
}

.card-heading {
  font-size: 12px;
  padding-bottom: 10px;
}

.card-text>a {
  padding: 2px 8px;
  margin: 8px 0;
  background-color: #a0c63f;
  color: #f0f0f0;
  font-size: 11px;
  text-decoration: none;
}

.card-desc {
  font-size: 11px;
  padding-top: 10px;
}

.ads {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ads>figure {
  padding: 24px 0;
}

.back-to-top {
  padding: 10px 0 18px 0;
  text-align: right;
}

.back-to-top>.top {
  background-color: #a0c63f;
  color: #f0f0f0;
  padding: 8px;
  border-radius: 50%;
}

.back-to-top>.top:hover {
  box-shadow: 1px 1px 2px #aaaaaa;
}

footer {
  border-top: 1px solid #aaaaaa;
}

.footer-flex {
  width: 100%;
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-flex>.footer-section {
  width: 25%;
}

.bottom {
  width: 100%;
}